/*Estilo oscuro*/
*{
	margin: 5px ;
	box-sizing: border-box;
	color: rgb(234, 242, 252);
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}
body{
	background-color: rgb(20, 71, 120);
	display: flex;
	justify-content: center;
	align-items: center;
}
.todo{
	width: 75%;
	max-width: 1200px;
	min-height: 120px;
	background-color: #a9acaf;
	margin: 5px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.izquierdo{
	position: initial;
	background-color: rgb(25, 51, 78); /*#63727e*/
	padding: 10px;

}
.derecho{
	position: initial;
	background-color: rgb(23, 30, 87);
	padding: 20px;

}
.f_perfil .i_contacto, .habilidades, .idiomas, .hobbies, .titulo,
.sumario, .experiencia, .educacion{
	margin-bottom: 35px;
}
h2{
    text-decoration: underline rgb(159, 160, 145);
    font-size: 17px;
}
img{
    border: 10px solid dimgrey;
    width: 350;
    height: 350;
}
h1{
    font-size: 25px;
}
table{
    font-family: arial;
    border-collapse: separate;
    width: 90%;
}
  
td, th {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
}

.botones{
	margin-bottom: 1px;
    display: flex;
    justify-content: center;
}
#b_modo{
	color: black;
}